QLineEdit {
    height: 40px;
    width: 480px;
    font-weight: bold;
    font-size: 40px;
}

QComboBox {
    color: #ffffff;
    background-color: #33373b;
    padding: 8px 16px;
    height: 20px;
    font-size: 20px;
    text-align: center;
}

QPushButton {
    padding: 10px;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}
QLabel {
    font-size: 20px
}
